body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#comparison-container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}